body{color: white; 
    background-image: url("a:\\Store\\School stuffs\\Ivan\\PHOENIX.png");

#link { color: red ;

}
table , th , td {
      border: solid white;
      border-collapse: collapse;

}

}    


